{% extends 'component/base.html' %}
{% block content %}
    <div class="hero common-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct">
                        <h1>写影评</h1>
                        <ul class="breadcumb">
                            <li class="active"><a href="#">Home</a></li>
                            <li><span class="ion-ios-arrow-right"></span> 写影评 </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog detail section-->
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="blog-detail-ct">
                        <div class="comment-form">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>标题</h4>
                                </div>
                                <div class="col-md-4">
                                    <h4>要评价的电影</h4>
                                </div>
                            </div>
                            <form action="{% url 'blogpost' %}">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text" name='title' placeholder="给你的影评取个标题吧......">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name='name' placeholder="留下电影的名称......">
                                    </div>
                                </div>
                                <h4>影评正文</h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea name="message" id="" placeholder="Message" style="height: 700px;"></textarea>
                                    </div>
                                </div>
                                <input class="submit" type="submit" placeholder="submit">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="sidebar">
                        <div class="sb-search sb-it">
                            <h4 class="sb-title">Search</h4>
                            <input type="text" placeholder="Enter keywords">
                        </div>
                        <div class="sb-cate sb-it">
                            <h4 class="sb-title">Categories</h4>
                            <ul>
                                <li><a href="#">Awards (50)</a></li>
                                <li><a href="#">Box office (38)</a></li>
                                <li><a href="#">Film reviews (72)</a></li>
                                <li><a href="#">News (45)</a></li>
                                <li><a href="#">Global (06)</a></li>
                            </ul>
                        </div>
                        <div class="sb-recentpost sb-it">
                            <h4 class="sb-title">most popular</h4>
                            <div class="recent-item">
                                <span>01</span><h6><a href="#">Korea Box Office: Beauty and the Beast Wins Fourth</a>
                            </h6>
                            </div>
                            <div class="recent-item">
                                <span>02</span><h6><a href="#">Homeland Finale Includes Shocking Death </a></h6>
                            </div>
                            <div class="recent-item">
                                <span>03</span><h6><a href="#">Fate of the Furious Reviews What the Critics Saying</a>
                            </h6>
                            </div>
                        </div>
                        <div class="sb-tags sb-it">
                            <h4 class="sb-title">tags</h4>
                            <ul class="tag-items">
                                <li><a href="#">Batman</a></li>
                                <li><a href="#">film</a></li>
                                <li><a href="#">homeland</a></li>
                                <li><a href="#">Fast & Furious</a></li>
                                <li><a href="#">Dead Walker</a></li>
                                <li><a href="#">King</a></li>
                                <li><a href="#">Beauty</a></li>
                            </ul>
                        </div>
                        <div class="ads">
                            <img src="images/uploads/ads1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}